<div class="container">
    <h1 class="text-center text-bg-dark ">Welcome to my Quiz</h1>
    <h4 class="text-bold">Rules</h4>
    <ol>
        <li>Correct answer you receive 10 points</li>
        <li>Incorrect answer you lose 10 points</li>
        <li>You have 15 seconds to choose</li>
        <li>Refresh de page will reset de Quiz</li>
    </ol>
</div>

<div class="name col-md-4 my-3">
    <label for="name">Enter your name:</label>
    <input #name type="text" class="form-control">
</div>

<button class="btn btn-primary btn lg" routerLink="/questions" (click)="startQuiz()">Let's Play</button>